
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.form-header h2 {
  font-size: 22px;
  margin: 0;
}

.toggle-link {
  color: #00ffaa;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}


.login-body {
  background-color: #1e1e2f;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.logo-container img {
  width: 120px;
  border-radius: 10px;
}

.logo-legenda {
  font-size: 24px;
  font-weight: bold;
  color: #00ffaa;
  margin-top: 10px;
}

.form-container {
  background: #2a2a3d;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  width: 300px;
  display: flex;
  justify-content: center;
}

.form-container input, .form-container button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
}

.form-container button {
  background-color: #00ffaa;
  color: #1e1e2f;
  font-weight: bold;
  cursor: pointer;
}

.mensagem {
  color: #00c8ff;
  margin-bottom: 10px;
}
